body {
  background-color: 	#487cc9;
  margin: 150px;
  min-width:100px; width: auto !important; width: 100px;
  outline: white 1px solid;
  }

section {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

h1 {
  text-align:center;
  color: white;
  font-size: 140%;
}

#Lheader li {
  display: inline-block;
  padding: 20px;
  text-align: center;
  color: white;
  align-self: center;
}

#Mheader {
  text-align: center;
}
header.Mheader{
  /* margin: 30px;
  min-width: 1200px;
  outline: white 1px solid; */
}
#Profile  li{
  list-style-type: none;
  color: white;
  text-align: left;
}


#profile_0 {
border: white 1px solid;
display: flex;
float: left;
padding-right: 70%;
}

#profile_1{
  flex: 70%;
}

#profile_2 {
  margin-top: 15%;
  flex: 30%;
}

nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

